/*=================================================================
  Images
==================================================================*/

img[alt$=">"] {
  width: 50%;
  float: right;
  padding: 10px;
}

img[alt$="<"] {
  width: 50%;
  float: left;
  padding: 10px;
}

img[alt$="< 30"] {
  width: 50%;
  float: left;
  padding: 10px;
}

img[alt$="30"] {
  width: 30%;
  padding: 10px;
}

img[alt$="50"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  float: center;
  padding: 10px;
}

img[alt$="60"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  float: center;
  padding: 10px;
}

img[alt$="70"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  float: center;
  padding: 10px;
}


img[alt$="80"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  float: center;
  padding: 10px;
}

img[alt$="90"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  float: center;
  padding: 10px;
}

img[alt$="95"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  float: center;
  padding: 10px;
}

img[alt$="120"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120%;
  float: center;
  padding: 10px;
}

img[alt$="150"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150%;
  float: center;
  padding: 10px;
}